body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e7f1e3;
    font-weight: bold;
}

h1 {
    font-style: garamond;
    text-align: center;
}

header {
    background-color:#016817;
    color: #ffffff;
    padding: 20px;
}

.sidebar {
    background-color: #016817;
    color: white;
    width: 200px;
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px; 
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    padding: 10px;
}

.sidebar nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #000000;
}

.content {
    margin-left: 220px; 
    padding: 20px;
    text-align: center;
}
span{
    color: rgb(83, 182, 59);
}
#abacaxi{
    color: yellow;
}
#acerola{
    color: rgb(219, 119, 112);
}
#maracujá{
    color: rgb(199, 147, 50);
}

img {
    display: block;
    margin: 0 auto;
}

ul {
    text-align: left;
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}
footer {
	background-color:#000000;
	color: #fff;
	padding: 20px;
	text-align: center;
    position: relative;
	margin-top: 25%;
    border-top: 4px solid #016817;
}
.logo {
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
}

